header {
    margin: 2rem 1rem 4rem;
    text-align: center;
}

header .logo {
    position: relative;
}

header .logo span {
    font-size: var(--font-xl);
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--color-grey-darkest);
    color: var(--color-grey-darkest);
}

header .logo button {
    position: absolute;
    right: 1rem;
    top: 0;
}

header nav ul {
    height: 4rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}
header nav ul a {
    font-size: var(--font-ms);
    color: var(--color-grey-dark);
    text-transform: uppercase;
    transition: 0.3s;
}

header nav ul a.active,
header nav ul a:hover {
    font-size: 1.3rem;
    text-decoration: underline;
    font-weight: bold;
}

@media only screen and (max-width: 380px) {
    header .logo {
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
    }
    header .logo button {
        position: static;
    }
}
